.button {
  font-family: 'FuturaDemiC', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;

  background: #e3b873;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
  border: 0;
  border-radius: 2px;
}