.call {
  &__link {
    margin-right: 45px;
    text-align: right;
    text-decoration-line: underline;
    color: $colorGold;
  }

  &__button {
    padding: 13px 33px;
    font-size: 13px;
    line-height: 15px;
  }

  header &__button {
    margin-right: 18px;
  }
}