.call {
  &--link {
    margin-right: 45px;
    text-align: right;
    text-decoration-line: underline;
    color: #E3B873;
  }

  &--button {
    margin-right: 18px;
    padding: 13px 33px;
    font-size: 13px;
    line-height: 15px;
  }
}