.img-after-headers {
    position: relative;
    margin-bottom: 30px;

    &::before {
      position: absolute;
      top: 15px;
      left: -50px;
      content: "";
      display: block;
      height: 2px;
      width: 32px;
      background: $colorGold;
    }

    &::after {
      position: absolute;
      top: 15px;
      right: -50px;
      content: "";
      display: block;
      height: 2px;
      width: 32px;
      background: $colorGold;
    }
  }